.language {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99999;
}

.language svg {
  width: 30px;
  height: 30px;
}

.language svg * {
  fill: var(--main-color);
}

.header.dark .language svg * {
  fill: #fff;
}

@media (max-width: 992px) {
  .language svg * {
    fill: #fff !important;
  }
}
