.whatsapp {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background: #25d366;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: whatsapp 1s infinite;
  filter: drop-shadow(0px 0px 2px #25d366);
}

@keyframes whatsapp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px #25d366);
  }
  100% {
    transform: scale(1);
  }
}
