@font-face {
  font-family: "Changa-Bold";
  src: url(./assets/fonts/Changa-Bold.ttf);
}
@font-face {
  font-family: "Changa-Medium";
  src: url(./assets/fonts/Changa-Medium.ttf);
}
@font-face {
  font-family: "Changa-Regular";
  src: url(./assets/fonts/Changa-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* transition: all 0.3s ease-in-out; */
}

:root {
  --main-color: #021f5a;
  --second-color: #f5aa36;
  --title-color: #212121;
  --text-color: #999999;
  --font-bold: "Changa-Bold", sans-serif;
  --font-medium: "Changa-Medium", sans-serif;
  --font-regular: "Changa-Regular", sans-serif;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  font-family: var(--font-regular);
  background-color: #ffffff;
  text-align: right;
  /* cursor: none; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
button,
input,
textarea,
select,
label,
table,
ul,
li {
  font-family: var(--font-regular);
  color: var(--text-color);
}

img {
  pointer-events: none;
  object-fit: contain;
  max-width: 100%;
}

button {
  background: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none !important;
}

input,
textarea,
select {
  box-shadow: none;
  outline: none;
  border: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

::placeholder {
  color: #eeeeee;
}

.page {
  padding-top: 90px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.main-btn {
  background-color: var(--second-color);
  color: #ffffff !important;
  padding: 5px 50px;
  border-radius: 100px;
  border: 1px solid var(--second-color);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn:hover {
  background-color: transparent;
  border-color: var(--second-color);
  color: var(--second-color) !important;
}

.heading-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
  font-family: var(--font-bold);
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.title::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  width: 100%;
  font-size: 50px;
  color: #021f5a25;
  letter-spacing: 1.5px;
  font-family: var(--font-bold);
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
  .title::before {
    font-size: 35px;
    top: -25px;
  }
}
