.background {
  background: linear-gradient(#001235, #021f5aba);
  height: calc(100vh - 90px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.background::before {
  content: "";
  background: url("../../assets/images/logo-bg-transparent.svg") no-repeat
    center center;
  background-size: contain;
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 50px;
  right: 0px;
  z-index: -1;
  opacity: 0.05;
  animation: move 3s linear infinite;
}

.background .background-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100%;
  width: 100%;
}

.background .background-flex .background-img {
  position: relative;
  width: 50%;
}

.background .background-flex .background-img::after {
  content: "";
  background: url("../../assets/images/dots.svg") no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 20px;
  left: -35px;
  z-index: -1;
  animation: move 3s linear infinite;
}
.background .background-flex .background-img::before {
  content: "";
  background: url("../../assets/images/dots.svg") no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -20px;
  right: -35px;
  z-index: -1;
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.background .background-flex .background-content {
  width: 50%;
}

.background .background-flex .background-content h1 {
  text-align: start;
  font-family: var(--font-bold);
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.background .background-flex .background-content h1 span {
  color: var(--second-color);
  font-family: var(--font-bold);
}

.background .background-flex .background-content p {
  font-size: 18px;
  text-align: start;
  line-height: 2.5;
  color: #fff;
  margin-bottom: 30px;
}

.background .background-flex .background-content a {
  font-size: 20px;
  color: #fff;
  width: 75%;
}

.mouse-cursor {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  border: 2px solid var(--second-color);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.mouse-cursor::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 4px;
  height: 7px;
  border-radius: 50px;
  background: var(--second-color);
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  opacity: 1;
  animation: mouse-cursor 1s linear infinite;
  pointer-events: none;
}

@keyframes mouse-cursor {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .background {
    height: auto;
    padding-top: 40px;
  }
  .background::before {
    display: none;
  }
  .background .background-flex {
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  .background .background-flex .background-content,
  .background .background-flex .background-img {
    width: 100%;
  }
  .background .background-flex .background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .background .background-flex .background-content h1,
  .background .background-flex .background-content p {
    text-align: center;
  }
  .background .background-flex .background-content a {
    width: 100%;
  }
}
